@import "../../palette.scss";

.EditForm {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 600px;
    width: 100%;
    .valueInput {
        input {
            box-sizing: border-box;
            width: 100%;
            padding: 10px;
            border: solid 1px lightgray;
            border-radius: 2px;
            outline: none;
            font-size: 20px;
        }
    }
    .buttons {
        display: flex;
        button {
            margin: 10px;
            padding: 15px 45px;
            align-self: flex-start;
            background-color: cornflowerblue;
            color: #fff;
            border-radius: 3px;
            border: none;
            outline: none;
            &:hover {
                cursor: pointer;
            }
        }
    }
}