.List {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: darkslategray;
    background-size: 100%;
    margin: 25px auto;
    width: 50%;
    .list-add-task{
        height: 25%;
        padding: auto 3px 1px 3px;
        display: flex;
        justify-content: space-between;
        input{
            width: 85%;
            color: darkslategray;
            font-style: italic;
            font-family: Monaco;
            font-size: 15px;
        }
        button{
            width: 15%;
            color: #fff;
            background-color: steelblue;
            border: none;
            border-radius: 3px;
            padding: 5px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            &:hover{
                background-color: cornflowerblue;
            }
        }
    }
    .list-header{
        height: 35px;
        display: flex;
        justify-content: space-between;
        text{
            margin: auto;
            color: azure;
            font-style: italic;
            font-family: Monaco;
            font-size: 20px;
        }
        button{
            color: azure;
            background-color: transparent;
            font-size: medium;
            font-family: Monaco;
            border: none;
            &:hover{
                color: red;
            }
        }
    }
}

